*.mat
*~
*.asv
*.bak
*.DS_Store
Thumbs.db
*.log
*.out
*.err
*.stackdump
*.pyc
matlab_crash_dump.*
junit*.xml
.vscode/
.idea/
*.sublime*
*.swp
*.swo
*.directory
/data/*
!/data/README.md
*.zip
*.tar.gz
*.tar
*.7z
*.tmp
/results/
/output/
/figures/
